[submodule "USQ/Assignment 3 S1 2023"]
	path = USQ/Assignment 3 S1 2023
	url = https://github.com/JaINTP/If-I-Went-To-Uni
[submodule "USQ/CSC1401/Assignment-3-S1-2023"]
	path = USQ/CSC1401/Assignment-3-S1-2023
	url = https://github.com/jaintp/Assignment-3-S1-2023.git
